

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Dancing+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Pathway+Gothic+One&display=swap');

html, body{
    min-height: 100%;
    margin: 0;
}



#imgPhoto{
    margin-top: 30%;
    max-width: 150px;
    height: 150px;
    background-color: #eee;
    border: 5px solid #111;
    cursor: pointer;
    transition: background .3s;
}

#imgPhoto:hover{
  background-color: rgb(180, 180, 180);
  border: 5px solid #eee;
}

#traco{
    border: 2px solid rgb(114,146,189);
}


input[type='file']{
     display: none;
}
#dadosmedico{
    display: block;
}

#foto{
    border: 1px solid black;
    margin-top: 3%;
    padding-top: 10%;
    padding-bottom: 5%;
    align-self: center;
    background-color: white;
}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content:  center;
}

#enviar{
   padding-bottom: 5%;
   border-radius: 10%;
   padding-top: 5%;

   font-size: 70%;
   background-color: rgb(5, 50, 112);
   color: white;
   margin-top: 20%;
}


#nome-telefone{
    flex: 1;
    padding: 5%;
     
}

#setor-admissao{
    flex: 1;
    padding-top: 5%;
    border-radius: 0% 5% 5% 0%;
    text-align: center;
    
}

#foto-botao{
    flex: 1;
    border-radius: 5% 0% 0% 5%;
    text-align: center;
}

#headerUsuario{
    background-color: rgb(5, 50, 112);
    margin-bottom: -2%;
    padding-top: 0.2%;
    padding-bottom:-1%;
    text-align: center;
}

#barraDeTarefas{
    background-color: rgb(5, 50, 112);
    margin-top: 2%;
    padding-bottom: 3%;
    text-align: center;
}

#embarcacoes{
   font-size: 3em;
   color: white;
   padding-top: -15%;
   margin-top: -7%;
}

.campos{
  height: 25px;
  font-size: 60%;
}



#altoMare{
    padding-bottom: -30%;
    margin-top: 2%;
    font-size:600%;
    color: white;
    font-family: 'Dancing Script', cursive; 
}
ul{
     font-family: 'Dancing Script', cursive;
}
#leme{
    width: 10%;
    float: left;
    margin-top: -12%;
    margin-left: 10%;
}

#linha{
    background-color: rgb(114, 146, 189);
    padding-top: 1%;
}

.max-width{
    max-width: 500px;
    width: 100%;
}

#header1{
    background-color: rgb(5, 50, 112);
    margin-bottom: -2%;
    padding-top: 0.2%;
    padding-bottom:-1%;
    text-align: center; 
}

#titulo{
    text-align: center;
    
}

#botao{
   padding-bottom: 2%;
   border-radius: 10%;
   padding-top: 2%;
   width: 50%;
   font-size: 70%;
   background-color: rgb(5, 50, 112);
   color: white;
}

#login{
    text-align: center;
    font-size: 200%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    padding-bottom: 2%;
    padding-top: 1%;
}
input { 
 
    padding:10px; margin:10px ; 
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    
}
#cadastroFunc{
    background-color: rgb(217, 217, 217);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    margin: 5%;
   

}
label{
    display: inline;
    width: 2px;
}