html, body {
    min-height: 100%;
    margin: 0;
}

#header-main h1 {
   font-size: 10vh;
   color: white;
   font-family: Brush Script MT, Brush Script Std, cursive;
   font-style: italic;
   margin-top: 1vh;
   margin-bottom: 0;
}

#header-main h2 {
    font-size: 3vh;
    color: white;
    margin: 0;
}

#leme {
    margin-top: 1.4vh;
    width: 19vh;
    height: 19vh;
}

#user-icon {
    width: 13vh;
    height: 13vh;
    margin-top: 2.2vh;
}

#linha {
    background-color: rgb(114, 146, 189);
    width: 100%;
    height: .2vh;
}

#header-main {
    background-color: rgb(5, 50, 112);
    text-align: center; 
    padding-bottom: .7vh;
    position: static;
}

#header-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 21vh;
}

#header-upper p {
    color: white;
    font-size: 2.3vh;
}

#header-main ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    z-index: 5;
    height: 2vh;
}

#header-main ul > li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.918);
    font-size: 2.3vh;
    margin: 0;
}

#burger {
    display: none;
}

.icones{
    
}

@media screen and (orientation: portrait)  {

    .icones{
        display: none;
    }
    
    #burger {
        display: block;
        margin: 0;
    }

    #burger p {
        font-size: 2.7vh;
        margin: 0;
        color: white;
    }

    #header-main ul {
        list-style: none;
        position: absolute;
        display: none;
        top: 5vh;
        width: 100%;
        padding: 0;
        transition: all ease 2s;
        z-index: 3;
    }

    .menu-fechado {
        top: -20vw;
    }

    .menu-aberto {
        top: 17vw;
    }

    #header-main ul > li {
        display: block;
        width: 100%;
        height: 3.5vh;
        text-align: center;
        background-color: rgb(5, 50, 112);
        border: none;
        font-size: 3vh;
    }
    
    #header-main h1 {
        font-size: 6vh;
    }

    #header-main h2 {
        font-size: 2vh;
    }

    #leme {
        width: 13vh;
        height: 13vh;
    }

    #user-icon {
        width: 8vh;
        height: 8vh;
    }
    
    #header-upper p {
        font-size: 1.6vh;
    }

    #header-upper {
        height: 15vh;
    }
    
    #header-main {
        z-index: 1;
    }
}