/*início restaurante*/

/* início parte passageiro*/

#cont-restaurante {
    height: 70.7vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cardapio {
    height: 100%;
    width: 70vw;
    margin: 1vh;
    padding-top: 2vh;
}

#consulta-pedido {
    height: 100%;
    width: 15vw;
    margin: 1vh;
    padding-top: 2vh;
}

/* fim parte passageiro*/

/* início parte funcionário*/

#container-ver-pedidos {
    width: 100%;
    height: 72.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizacao-pedidos {
    height: 70%;
    width: 80%;
    background-color: rgb(217, 217, 217);
    padding: 2vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

.pedido-restaurante {
    background-color: white;
    height: 80%;
    min-width: 15vw;
    border-radius: 2vh;
    padding: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#recebe-pedidos-restaurante {
    display: none;
}

.titulo-pedido-restaurante {
    text-align: center;
    font-size: 2.9vh;
}

.conteudo-pedido-restaurante {
    font-size: 2.1vh;
}

.pedido-restaurante-finalizado {
    border: .5vh solid #ECA5A5;
}

.pedido-restaurante-preparo {
    border: .5vh solid #FBFFDA;
}

.pedido-restaurante-recebido {
    border: .5vh solid #C7D1FA;
}

/* fim parte funcionário*/

/* fim restaurante */

/*início limpeza*/

/* início parte passageiro*/

/* fim parte passageiro */

/* início parte funcionário*/

/* fim parte funcionário */

/* fim limpeza */

/*início saúde*/

/* início parte passageiro*/

/* fim parte passageiro */

/* início parte funcionário*/

/* fim parte funcionário */

/* fim saude */
